<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KomalliApp"
        tools:targetApi="31">
        <activity
            android:name=".ActivityPostres5"
            android:exported="false" />
        <activity
            android:name=".ActivityPostres4"
            android:exported="false" />
        <activity
            android:name=".ActivityGuarniciones2"
            android:exported="false" />
        <activity
            android:name=".ActivityPostres3"
            android:exported="false" />
        <activity
            android:name=".ActivityPostres2"
            android:exported="false" />
        <activity
            android:name=".ActivityOtros2"
            android:exported="false" />
        <activity
            android:name=".ActivitySandwichTortas4"
            android:exported="false" />
        <activity
            android:name=".ActivitySandwichTortas3"
            android:exported="false" />
        <activity
            android:name=".ActivitySandwichTortas2"
            android:exported="false" />
        <activity
            android:name=".ActivityAntojitos5"
            android:exported="false" />
        <activity
            android:name=".ActivityAntojitos4"
            android:exported="false" />
        <activity
            android:name=".ActivityAntojitos3"
            android:exported="false" />
        <activity
            android:name=".ActivityAntojitos2"
            android:exported="false" />
        <activity
            android:name=".ActivityMenuPaquetes4"
            android:exported="false" />
        <activity
            android:name=".ActivityMenuPaquetes3"
            android:exported="false" />
        <activity
            android:name=".ActivityMenuPaquetes2"
            android:exported="false" />
        <activity
            android:name=".activityDeslizante"
            android:exported="false" />
        <activity
            android:name=".ActivityNav"
            android:exported="false" />
        <activity
            android:name=".ActivityOtros"
            android:exported="false" />
        <activity
            android:name=".ActivityPostres"
            android:exported="false" />
        <activity
            android:name=".ActivityBebidas"
            android:exported="false" />
        <activity
            android:name=".ActivitySandwichTortas"
            android:exported="false" />
        <activity
            android:name=".ActivityGuarniciones"
            android:exported="false" />
        <activity
            android:name=".ActivityAntojitos"
            android:exported="false" />
        <activity
            android:name=".ActivityTarjeta"
            android:exported="false" />
        <activity
            android:name=".ActivityEfectivo"
            android:exported="false" />
        <activity
            android:name=".activityMetodos"
            android:exported="false" />
        <activity
            android:name=".ActivityAyuda"
            android:exported="false" />
        <activity
            android:name=".ActivityNota"
            android:exported="false" />
        <activity
            android:name=".ActivityOrden"
            android:exported="false" />
        <activity
            android:name=".activutyOrden"
            android:exported="false" />
        <activity
            android:name=".ActivityCarrito"
            android:exported="false" />
        <activity
            android:name=".ActivityMenuPaquetes"
            android:exported="false" />
        <activity
            android:name=".ActivityMenu"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>